:root {
  --highlight: #ef5701;
}

/* type=submit, name != logout */
input[type="submit"]:not([name="logoutbutton"]) {
  background-color: var(--highlight);
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: underline var(--highlight);
}

a:hover,
a:focus {
  color: var(--highlight);
  text-decoration: none;
  cursor: pointer;
}

.container {
  padding: 0px;
}

/* LOGIN PAGE */
.btn-link {
  text-decoration: none !important;
}

.page-body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.custom-footer {
  margin-top: auto !important;
  width: 100vw;
  display: flex;
  justify-content: center;
  color: grey;
  height: 52px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login-btn {
  width: inherit;
  margin-top: 1rem;
}

.create-account-btn {
  margin-top: 0.5rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 80px auto 80px;
}

.form-group {
  margin-bottom: 1rem;
}

/* ************************************************************************* */

/* HOME PAGE */

header {
  width: 100%;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.page-title {
  margin: 64px 0 0;
}

.workouts-section {
  display: flex;
  flex-direction: row;
}

.workouts-section > * {
  margin: 0;
  padding: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.workouts-section table {
  width: 80%;
}

.workouts-section h2 {
  margin: 0px 0px 4px;
  padding: 0;
}

.dynamic-item {
  color: var(--highlight);
}

.welcome-subtitle {
  font-size: 24px;
  margin-left: 12px;
}

.workouts-section,
.lineups-section {
  margin-top: 48px;
}

.athlete-directory-table {
  margin-top: 24px;
  width: 100%;
}

.athlete-directory-tr {
  font-size: 12px;
}

.athlete-directory-table td {
  font-size: 14px;
}

.filter-form-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 4px;
}

.view-acct-table tr > th {
  width: 30%;
}

.view-acct-table {
  margin-top: 48px;
  width: 40%;
}

